<div class="row justify-content-center">
	<div class="col-4">
	<h1>User Profile</h1>

	<div class="tab-content">

	  <div [ngClass]="'tab-pane fade show active'">
	    <form (ngSubmit)="onSubmitUserUpdate()" #updateForm="ngForm">

	      <div class="form-outline mb-4">
	        <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="firstName" />
	        <label class="form-label" for="firstName">First name</label>
	      </div>

	      <div class="form-outline mb-4">
	        <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="lastName" />
	        <label class="form-label" for="lastName">Last name</label>
	      </div>

	      <div class="form-outline mb-4">
	        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="login" />
	        <label class="form-label" for="username">Username</label>
	      </div>

	      <!-- <button type="submit" active="isEditing" class="btn btn-primary btn-block mb-3">Update</button> -->
	    </form>
	  </div>
	</div>
	</div>
</div>
