<div class="col-md-6 offset-md-3 mt-5">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-3">
      <h4><strong>Register</strong></h4>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">

        <div class="form-row">
          <div class="col">
            <!-- First name -->
            <div class="md-form">
              <input type="text" formControlName="firstName" class="form-control" mdbInput mdbValidate>
              <label for="firstName">First Name</label>
              <mdb-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">First Name is required</mdb-error>
            </div>
          </div>
          <div class="col">
            <!-- Last name -->
            <div class="md-form">
              <input type="text" formControlName="lastName" class="form-control" mdbInput mdbValidate>
              <label for="lastName">Last Name</label>
              <mdb-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">Last Name is required</mdb-error>
            </div>
          </div>
        </div>

        <!-- Username -->
        <div class="md-form mt-0">
          <input type="text" formControlName="username" class="form-control" mdbInput mdbValidate>
          <label for="username">Username</label>
          <mdb-error *ngIf="username.invalid">
            <div *ngIf="username.errors.required && (email.dirty || email.touched)">
              Username is required
            </div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 8 characters long
            </div>
          </mdb-error>
        </div>

        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="email" formControlName="email" class="form-control" mdbInput mdbValidate>
          <label for="email">E-mail</label>
          <mdb-error *ngIf="email.invalid">
            <div *ngIf="email.errors.required && (email.dirty || email.touched)">
              Email is required
            </div>
            <div *ngIf="email.errors.email">
              Input is not a valid email format
            </div>
          </mdb-error>
        </div>

        <!-- Password -->
        <div class="md-form mt-0">
          <input type="password" formControlName="password" class="form-control" aria-describedby="registerFormPasswordHelpBlock"
            mdbInput mdbValidate>
          <label for="password">Password</label>
          <mdb-error *ngIf="password.invalid">
            <div *ngIf="password.errors.required && (password.dirty || password.touched)">
              Password is required
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 8 characters long
            </div>
          </mdb-error>
        </div>

        <!-- Register button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit">Register</button>

        <p id="form-error" [hidden]="!hasSubmittedAttempt || (hasSubmittedAttempt && form.valid)">Please fix invalid fields</p>

      </form>

    </mdb-card-body>
  </mdb-card>
</div>
